<%= form_for :message, url: chat_messages_path(@chat), remote: true, html: { class: "row mx-0" } do |f| %>
  <div class="col-lg-10 px-0">
    <%= f.text_field :text_message, value: nil, class: "form-control form-control-lg", placeholder: "Type your message here..." %>
  </div>
  <div class="col-lg-2 py-1">
    <%= f.submit 'Send', class: 'btn btn-success', data: { disable_with: 'Sending...' } %>
  </div>
<% end %>