.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
/db/*.sqlite3
/db/*.sqlite3-*
coverage/
log
node_modules
public/packs
public/packs-test
tmp
test
yarn-error.log
yarn-debug.log*
